<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio - Projects</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Projects</h1>
        <h4>Project 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo quis turpis imperdiet tempus. Nunc scelerisque viverra neque, non bibendum leo aliquam quis. Donec luctus id dui eget ultrices. Pellentesque ultricies elit libero, vel eleifend neque mollis quis. Fusce vitae egestas ante. Aliquam feugiat lacus augue. In et convallis ipsum, nec dignissim tellus. Sed sit amet nunc in lacus pellentesque aliquam. Aenean porta augue ut turpis aliquam, eget imperdiet augue pellentesque. Aenean feugiat sagittis tristique. Phasellus lacinia scelerisque efficitur. Duis lacinia ullamcorper fermentum. Morbi dapibus bibendum aliquet. Phasellus scelerisque purus at arcu tempor feugiat.</p>
        <h4>Project 2</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo quis turpis imperdiet tempus. Nunc scelerisque viverra neque, non bibendum leo aliquam quis. Donec luctus id dui eget ultrices. Pellentesque ultricies elit libero, vel eleifend neque mollis quis. Fusce vitae egestas ante. Aliquam feugiat lacus augue. In et convallis ipsum, nec dignissim tellus. Sed sit amet nunc in lacus pellentesque aliquam. Aenean porta augue ut turpis aliquam, eget imperdiet augue pellentesque. Aenean feugiat sagittis tristique. Phasellus lacinia scelerisque efficitur. Duis lacinia ullamcorper fermentum. Morbi dapibus bibendum aliquet. Phasellus scelerisque purus at arcu tempor feugiat.</p>
        <h4>Project 3</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed leo quis turpis imperdiet tempus. Nunc scelerisque viverra neque, non bibendum leo aliquam quis. Donec luctus id dui eget ultrices. Pellentesque ultricies elit libero, vel eleifend neque mollis quis. Fusce vitae egestas ante. Aliquam feugiat lacus augue. In et convallis ipsum, nec dignissim tellus. Sed sit amet nunc in lacus pellentesque aliquam. Aenean porta augue ut turpis aliquam, eget imperdiet augue pellentesque. Aenean feugiat sagittis tristique. Phasellus lacinia scelerisque efficitur. Duis lacinia ullamcorper fermentum. Morbi dapibus bibendum aliquet. Phasellus scelerisque purus at arcu tempor feugiat.</p>
        <p  class="back-link"><a href="/">Back</a></p>
    </body>
</html>