<!DOCTYPE HTML>
<html>
    <head>
        <title>Win</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Winner!</h1>
        <h4>Again?</h4>
        <form action="restart" method="post">
            <input type="submit" name="submit" value="Restart">
        </form>
    </body>
</html>