@{
    ViewData["Title"] = "Home Page";
}
<h1>Register</h1>
<form action="register" method="post">
    <p><label for="FirstName">First Name: </label>
    <input type="text" name="FirstName"></p>
    <p><label for="LastName">Last Name: </label>
    <input type="text" name="LastName"></p>
    <p><label for="Email">Email Address: </label>
    <input type="text" name="Email"></p>
    <p><label for="Password">Password: </label>
    <input type="password" name="Password"></p>
    <p><label for="PasswordConfirmation">Confirm Password: </label>
    <input type="password" name="PasswordConfirmation"></p>
    <p><input type="submit" name="submit" value="Submit"></p>
</form>
    @{
            foreach(var error in @ViewBag.errors)
            {
                if(@error.Errors.Count > 0)
                {
                <p>@error.Errors[0].ErrorMessage</p>
                }
            }
    }
<a href="login">Already Registered?</a>